!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@user.name} was just added.
    %p
      = link_to "Check it out", "http://www.google.com", :target => "_blank"