.modal#terms-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Agape guest guidelines
      .modal-body
        %p Agape guideline will go here
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
.container.content-container
  .row
    .col-sm-12
      %h3 Fill out your profile on the Agape Guest Book!
      = render 'form'
