-# generate sections for current, upcoming, past guests
= render :partial => "users/guest_section", :locals => {:label => "Current Guests", :guests => @current_guests}
= render :partial => "users/guest_section", :locals => {:label => "Upcoming guests", :guests => @upcoming_guests}
= render :partial => "users/guest_section", :locals => {:label => "Past Guests", :guests => @past_guests}

-# generate modals for when user pics get clicked for more info.
= render :partial => "users/modals", :locals => {:guests => @current_guests + @upcoming_guests + @past_guests}

