body {
  background: url("http://827guerrero.files.wordpress.com/2013/01/wallpaper.jpg");
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  font-family: times-new-roman;
  font-size: 15px;
  line-height: 20px;
}

.content-container {
  background-color: white;
  opacity: .95;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

p, ol, ul, td {
  font-family: times-new-roman;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #e94f1d;
  text-decoration: none;
}
a:visited {
  color: #e94f1d;
}
a:hover,
a:focus,
a:active {
  color: #85aa0c;
  text-decoration: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.row {
  margin-bottom: 20px;
}

.silly-nav {
  a {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
  }
}

.navbar {
  border-radius: 0;
  button.signin {
    margin-top: 30px;
  }
}
