// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-index {
  .user-profile {
    .fb-pic {
      border: 1px solid #ddd;
      border-radius: 5px;
      display: block;
      height: auto;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .user-image {
    p {
      background: black;
      border-radius: 5px;
      bottom: 40px;
      color: white;
      opacity: .85;
      position: relative;
      text-align: center;
    }
  }
  .modal-body {
    .fb-pic-modal {
      float: left;
      margin-bottom: 20px;
      margin-right: 10px;
      width: 180px;
    }
    th {
      padding-right: 20px;
      text-align: right;
      width: 120px;
    }
    th, td {
      padding-bottom: 10px;
      vertical-align: top;
    }
  }
}

#users-edit {
  h3 {
    margin-bottom: 40px;
  }
  #user_note {
    height: 150px;
  }
}
